* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    /* overflow-y: hidden; */
}

#container {
    /* max-width: 1400px; */
    width: 100%;
    height: auto;
    justify-self: center;
    background-color: black;
    padding: 0%;
}

header {
    width: 100%;
    height: auto;
    padding: 2% 3%;
    /* background-color: black; */
}

nav {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    /* background-color: black; */
    justify-content: space-between;

}

.logo img {
    /* background-color: yellow; */
    width: 11.5vw;
}

.nav-links {
    width: 40%;
    font-size: .9em;
    background-color: #0C0C0C;
    height: auto;
    padding: 19px 1.2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow:
        0 0 0 0px rgba(255, 255, 255, 0.03),
        .5px 0.5px 0px rgba(216, 214, 214, 0.65),
        0 0 0px rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin-right: 5%;
}


.nav-link {
    width: fit-content;
    height: 1vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    /* background-color: orange; */
    cursor: pointer;
    padding: 0 1%;

}

.nav-link h3 {
    font-size: 1vw;
    font-weight: lighter;
    /* margin-bottom: 10px; */
}

.translate {
    color: #E8602E;
}

.nav-link h3 {
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

.nav-link:hover h3 {
    transform: translateY(-100%);
}

.user-profile {
    width: 5vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.user-profile img {
    border-radius: 50%;
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.user-profile i {
    font-size: 1.5vw;
    color: #fff;
}

/* For responsive  */
.hamberg-icon{
    background-color: yellow;
    color: white;
    display: none;
    font-size: 1.5vw;
}

/* navbaar done */


#hero-section {
    width: 100%;
    height: 85vh;
    /* background-color: #E8602E; */
    background-image: url(asstes/Background.svg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
}

#hero-section h3 {
    font-family: "Poppins", sans-serif;
    color: #E8602E;
    font-size: 1.2vw;
    font-weight: lighter;
    text-transform: uppercase;
    /* margin-top: 2%; */
}

#hero-section h1 {
    margin-top: 2%;
    color: #FFFFFF;
    font-size: 3.7vw;
    font-weight: 500;
    line-height: 1.1;
    font-family: "Poppins", sans-serif;
}

#hero-section .tag-line-1 {
    margin-top: 1.5%;
    color: #8F8E8D;
    font-size: 1.5vw;
}


/* Companies Box Design */
.companies {
    border: 1px solid orangered;
    padding: 5px 10px;
    position: relative;
    display: inline-block;
    background-color: rgba(255, 68, 0, 0.157);
}

/* all 4 dots */
.companies::before,
.companies::after,
.companies span::before,
.companies span::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: white;
    position: absolute;
}

/* top left */
.companies::before {
    top: -3px;
    left: -3px;
}

/* top right */
.companies::after {
    top: -3px;
    right: -3px;
}

/* bottom left */
.companies span::before {
    bottom: -3px;
    left: -3px;
}

/* bottom right */
.companies span::after {
    bottom: -3px;
    right: -3px;
}

#hero-section p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    /* font-size: 1.8vw; */
    font-weight: 200;
}

.student-img {
    margin-top: 4%;
    width: fit-content;
    /* padding: 10px 18px; */
    display: flex;
    align-items: center;
    /* background-color: yellow; */
    gap: 18px;
}

#hero-section  .profile-group {
    display: flex;
    align-items: center;
}

#hero-section .profile-group img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    margin-left: -12px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

/* first image */
.profile-group img:first-child {
    margin-left: 0;
}

/* layering */
.p1 {
    z-index: 1;
}

.p2 {
    z-index: 2;
}

.p3 {
    z-index: 3;
}

.p4 {
    z-index: 4;
}

/* hover */
.profile-group img:hover {
    transform: translateY(-3px);
}

.tag-line-2 {
    color: #f5f5f5;
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 7px;
}

.student-count {
    align-self: center;
    color: #ff6b1a;
    font-weight: 100;
    font-size: 1vw;
}

.journey-btn {
    margin-top: 2%;
    /* width: 15vw; */
    height: 7vh;
    padding: 0px 2vw;
    border: none;
    outline: none;
    border-radius: 12px;
    background: linear-gradient(180deg,
            #d8612b 0%,
            #bf4f1f 100%);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    align-self: center;
    transition: 0.35s ease;

    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.12),
        0 8px 18px rgba(191, 79, 31, 0.28);
}

/* hover shadow */
.journey-btn:hover {
    box-shadow:
        0 0 15px #DE652F,
        0 0 35px rgba(222, 101, 47, 0.55),
        0 10px 30px rgba(222, 101, 47, 0.4);
}

/* text wrapper */
.btn-text-wrap {
    display: flex;
    flex-direction: column;
    /* transform: translateY(0); */
    transition: 0.35s ease;
}

/* hover animation */
.journey-btn:hover .btn-text-wrap {
    transform: translateY(-50%);
}

/* text */
#hero-section .btn-text {
    text-transform: capitalize;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 8px; */
    color: #fff;
    font-size: 1vw;
    font-weight: 600;
    font-family: sans-serif;
    white-space: nowrap;
}

/* icon */
.btn-text i {
    font-size: 1.1vw;
    font-weight: 300;
}

/* hero section  */


/* MAIN BOX */
.main-box{
    width: 72vw;
    height: auto;
    justify-self: center;
    background: #161311;
    border-radius: 1.3vw;
    padding: 1.3vw;
    margin-top: 3%;
    display: flex;
    /* flex-wrap: wrap;     */
    gap: 1vw;
    border: .08px solid #ffffff3d;
    /* border: 0.08vw solid rgba(255,255,255,0.05); */
    box-shadow:
    inset 0 0 2vw rgba(255,255,255,0.03),
    0 0 3vw rgba(0,0,0,0.35);
}

/* LEFT SECTION */
.left-section{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1vw;
}

/* TOP CARDS */
.top-cards{
    width: 100%;
    display: flex;
    gap: 1vw;
}

.small-card{
    flex: 1;
    background: #000;
    border-radius: 1.2vw;
    padding: 1vw;
    border: 0.08vw solid rgba(255,255,255,0.08);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 14vw;
    position: relative;
}

/* CARD TOP */
.card-top{
    display: flex;
    align-items: flex-start;
    /* background-color: yellow; */
    gap: 0.8vw;
}

.card-top i{
    border-radius: 10px;
    /* background-color: yellow; */
    font-size: 2.5vw;
}

.yt{
    color: red;
}

.star{
    color: #ffcb2f;
}

.card-top h1{
    font-size: 2.4vw;
    font-weight: 300;
    color: #ff6b2d;
}

.small-card p{
    /* background-color: yellow; */
    justify-self: start;
    color: #ddd;
    font-size: .9vw;
}

.small-card h3{
    color: #ffffff;
    font-size: 1.1vw;
    font-weight: 100;
    line-height: 1.2;
    position: absolute;
    bottom: 5%;
}

/* BIG CARD */
.big-card{
    background: #000;
    border-radius: 1.2vw;
    padding: 1.3vw;
    border: 0.08vw solid rgba(255,255,255,0.08);
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}


/* UNLOCK ROW */
.unlock-row{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.unlock-row h1{
    color: white;
    font-size: 2.7vw;
    font-weight: 300;
}

/* PROFILE GROUP */
.profile-group{
    display: flex;
    align-items: center;
}

.profile-group img{
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 50%;
    object-fit: cover;
    border: 0.12vw solid white;
    margin-left: -0.6vw;
}

.profile-group img:first-child{
    margin-left: 0;
}

/* ARROW BUTTON */
.arrow-btn{
    width: 6vw;
    height: 2vw;
    border-radius: 5vw;
    border: 0.08vw solid #ff6b2d;
    background: transparent;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
    transition: 0.3s;
    text-align: end;
    padding: 0 7px;
}
.arrow-btn i{
    font-size: 1.7vw;
}
.arrow-btn:hover{
    background: #ff6b2d;
}

/* BIG TEXT */
.big-card h2{
    color: white;
    font-size: 2.8vw;
    font-weight: 300;
    line-height: 1;
}

/* RIGHT SECTION */
.right-section{
    width: 50%;
    border-radius: 1.2vw;
    overflow: hidden;
    position: relative;
    border: 0.08vw solid rgba(255,255,255,0.08);
    min-height: 30vw;
}

/* VIDEO */
.right-section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}

/* OVERLAY */
.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: 1;
}

/* RIGHT TEXT */
.right-section h1{
    position: absolute;
    top: 1.5vw;
    left: 1.5vw;
    color: white;
    font-size: 3.8vw;
    font-weight: 300;
    line-height: 0.9;
    z-index: 2;
}

/* BUTTON */
.touch-btn{
    position: absolute;
    bottom: 1.5vw;
    left: 1.5vw;
    padding: 1vw 1.8vw;
    border-radius: .7vw;
    border: 0.08vw solid rgba(255,255,255,0.2);
    background: rgba(0,0,0,0.4);
    color: #ff6b2d;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    font-weight: 100;
}



/* main box done  */

.scroller{
    width: 100%;
    margin-top: 15%;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* background-color: yellow; */
}

/* moving track */
.scroller-track{
    display: flex;
    align-items: center;
    gap: 7vw;
    width: max-content;
    animation: scroll 5s linear infinite;
}

.scroller img{
    width: 100%;   /* apne hisab se */
    height: auto;
    flex-shrink: 0;
}

/* animation */
@keyframes scroll{

    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-50%);
    }
}

/* Scroller Done  */



/* Impact Box Design */

.card-heading{
    margin-top: 15%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.card-heading h1{
    color: #ffffff;
    text-align: center;
    margin-top: 1.5%;
    font-size: 3vw;
    font-weight: lighter;
}
.impact {
    border: 1px solid #3A1A0E;
    padding: 5px 10px;
    position: relative;
    display: inline-block;
    background-color: #1E0C06;
    font-size: 1.3vw;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 300;
}

/* all 4 dots */
.impact::before,
.impact::after,
.impact span::before,
.impact span::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
}

/* top left */
.impact::before {
    top: -3px;
    left: -3px;
}

/* top right */
.impact::after {
    top: -3px;
    right: -3px;
}

/* bottom left */
.impact span::before {
    bottom: -3px;
    left: -3px;
}

/* bottom right */
.impact span::after {
    bottom: -3px;
    right: -3px;
}


/* Impact Box Design done */



.cards{
    margin-top: 2%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 10px 20px;
    /* background-color: yellow; */
}

/* card 1 css */
#cards-1{
    width: 25%;
    height: 68vh;
    border-radius: 12px;
    background-color: #1E0C06;
    background-image: url(asstes/card-img-1.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card-icon{
    width: 100%;
    height: 12vh;
    background-color: transparent;
    padding: 5% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;

}
.card-icon .card-1-btn{
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 10px;
    border: none;
    color: #ffffff;
    font-size: 1.1vw;
    border-radius: 50px;
    background-color: #F85400;
     transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    opacity: 0;
}
.card-icon .card-1-btn i{
    margin-right: 5px;
}
.card-icon .card-arrow{
    color: #ffffff;
    background-color: black;
    padding: 13px;
    font-size: 1.5vw;
    border-radius: 50%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
.transition-section{
    width: 100%;
    height: 50%;
    /* background-color: #d8612b;     */
    background: linear-gradient(to top , #f05d18c9 ,#d8622b83, #ffffff00);
    position: absolute;
    bottom: -100%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 5% 0;
    color: #ffffff;
}
.transition-section h2{
    font-weight: 100;
    width: 95%;
    margin: 1% 0;

}
.transition-section p{
    width: 95%;
    font-size: .9vw;
    line-height: 1.1vw;
}

#cards-1:hover .transition-section{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    bottom: 0;
}
#cards-1:hover .card-arrow {
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    rotate: 45deg;
}
#cards-1:hover .card-1-btn{
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    opacity: 1;
    
}
/* Card 2 css  */

/* CARD 2 */
#cards-2{
    margin-top: 7%;
    width: 25%;
    height: 68vh;
    border-radius: 12px;
    background-color: #1E0C06;
    background-image: url(asstes/card-img-2.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#cards-2:hover .transition-section{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    bottom: 0;
}

#cards-2:hover .card-arrow{
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    rotate: 45deg;
}

#cards-2:hover .card-1-btn{
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    opacity: 1;
}

/* CARD 3 */
#cards-3{
    width: 25%;
    height: 68vh;
    border-radius: 12px;
    background-color: #1E0C06;
    background-image: url(asstes/card-img-3.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#cards-3:hover .transition-section{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    bottom: 0;
}

#cards-3:hover .card-arrow{
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    rotate: 45deg;
}

#cards-3:hover .card-1-btn{
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    opacity: 1;
}

/* CARD 4 */
#cards-4{
    margin-top: 7%;
    width: 25%;
    height: 68vh;
    border-radius: 12px;
    background-color: #1E0C06;
    background-image: url(asstes/card-img-4.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#cards-4:hover .transition-section{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    bottom: 0;
}

#cards-4:hover .card-arrow{
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    rotate: 45deg;
}

#cards-4:hover .card-1-btn{
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    opacity: 1;
}



@media (max-width: 768px){

    .nav-links{
        display: none;
    }
    .user-profile{
        display: none;
    }
    .hamberg-icon{
        display: block;
        background-color: transparent;
    }
    
}

